<div class="container">
  <div class="nosotros">
    <h1>Acerca de nosotros!</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2>¿Quiénes somos?</h2>
          <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem totam placeat ullam vero, qui
            aliquid, expedita accusantium fuga,
            dignissimos autem quidem praesentium! Aut aspernatur eveniet eaque, eius cumque nulla natus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nesciunt praesentium minus hic, excepturi,
            sint repellendus provident facilis
            a magnam reprehenderit accusantium cupiditate? Totam, molestias distinctio quod amet eveniet sequi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat voluptatibus molestias harum id. In
            aut quam, ipsa magnam, asperiores pariatur enim,
            laborum ipsum quos maiores reiciendis sunt totam officia! Lorem ipsum dolor sit amet
            ipsum quos maiores reiciendis sunt totam officia! ipsum quos maiores reiciendis</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2>Cuidados a nuestras mascotas ❤</h2>
          <div class="content">
            <ul>
              <li>cosita 1</li>
              <li>cosita 2</li>
              <li>cosita 3</li>
            </ul>
          </div>
        </div>
        <div class="box">
          <h2>No es solo un negocio</h2>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta consectetur suscipit amet
            quidem omnis! Ad vel
            enim incidunt praesentium
            et asperiores voluptate veritatis veniam suscipit. Commodi fugiat non suscipit minus.</p>
        </div>
      </div>
    </div>
  </div>
</div>