.nosotros, .contacto{
    background-color: #fff0f8;
}

footer{
    background-color: #cca2e1;
    color: white;
}

strong{
    color: white;
}

h1, h2{
    font-family: 'Kalam', cursive;
    text-align: center;
}

h1{
    font-size: 30px;
    padding: 30px;
}
h2{
    font-size: 20px;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
}

.text{
    padding-top: 15px;
}

img, .text-contacto{
   display: inline-block;
}

.contacto-title{
    text-align: left;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.insta{
    background-image: url("https://img.icons8.com/office/40/000000/instagram-new.png");
}

.social-link.face{
    background-image: url("https://img.icons8.com/office/40/000000/facebook.png");
}

.social-link.wpp{
    background-image: url("https://img.icons8.com/office/40/000000/whatsapp.png");
}