<div class="container">
  <div class="nosotros">
    <h1>PUPPIESMINI te da la bienvenida y agradece por confiar en nosotros</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2>CONSEJOS PARA TU MASCOTA</h2>
          <ul>
            <li>No sacar al cachorro hasta que termine el plan de vacunación</li>
            <li>No llevar al cachorro a centros veterinarios, puesto que no tienen todas las vacunas y estos lugares estan lenos de virus (Se recomienda pedir veterinario a domicilio).</li>
            <li>Desparacitarlos cada 15 dias hasta los 6 meses, luego cada 3 meses de por vida.</li>
            <li>Comprarle juguetes, rasca encías y peluches (Para que el cachorro sepa desde pequeño que puede morder).</li>
            <li>Mantenerle siempre agua fresca.</li>
            <li>Bañarlo 2 veces al mes despues de 4 meses y medio.</li>
            <li>Tener la mascota en un cuarto mientras cumple el plan de vacunación, este cuarto debe ser trapeado con cloro.</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2>ACERCA DE NOSOTROS</h2>
         <p>Puppies mini es una página de venta de cachorritos miniatura y entrenamiento. Hacemos envios nacionales e internacionales. Criadero en donde sus madres son tratadas con amor ❤</p>
          <div class="content">

          </div>
        </div>
        <div class="box">
            <h2>NOTA:</h2>
            <p>Recuerda que con nostros cuentas con asesoria veterinaria ilimitada, por via telefónica o por WhatsApp</p>
        </div>
      </div>
    </div>
  </div>
</div>