
.contacto{
  background-color: #fff0f8;
  margin-top: 60px;

}
footer{
  background-color: #ffc2e9;
  color: black;
  margin-top: 40px
}
img, .text-contacto{
  display: inline-block;
  margin-top: 20px
}
.contacto-title{
  text-align: left;
}
.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.insta{
  background-image: url("https://img.icons8.com/office/40/000000/instagram-new.png");
}

.social-link.face{
  background-image: url("https://img.icons8.com/office/40/000000/facebook.png");
}

.social-link.wpp{
  background-image: url("https://img.icons8.com/office/40/000000/whatsapp.png");
}