<div class="container" >
  <div class="contacto" >
    <h1 class="contacto-title">Contáctanos: 😊</h1>
    <div class="columns">
      <div class="column">
        <img src="https://img.icons8.com/office/40/000000/marker.png">
        <p class="text-contacto"> Medellín - Laureles</p>
        <br>
        <img src="https://img.icons8.com/dusk/40/000000/phone.png">
        <p class="text-contacto"> 310 840 8130</p>
      </div>


      <div class="column2">
        <div>
          <a href=""  class="social-link insta" ></a>
          <a href="" class="social-link face"></a>
          <a href="" class="social-link wpp"></a>
        </div>
      </div>
  </div>
</div>
</div>

<footer class="footer">
  <p>
    Page Designed by <a href="https://github.com/LizethVictoria20" target="_blank">Lizeth Victoria, </a><a href="https://github.com/Alejafranco"  target="_blank">Alejandra Franco </a>&<a href="https://github.com/camilamontealegre"  target="_blank"> Camila Montealegre.</a>
    Copyright © 2018 Puppies Mini,
    All Rights Reserved.
    This product is protected by copyright and distributed under
    licenses restricting copying, distribution, and decompilation.
  </p>
</footer>
