<app-portada-secundaria title='Información de los cachorros' ></app-portada-secundaria>
<div class="container" >
  <div class="columns">
    <div class="column is-half">
      <img src="https://instagram.feoh1-1.fna.fbcdn.net/vp/b9c132c8581b6aa9ca375fb08193ab96/5CAE8F16/t51.2885-15/e35/46390280_345905005988826_6916671185503699581_n.jpg" alt="">
    </div>
    <div class="column card">
      <h1 class='title '>BullDog Francés</h1>
      <p>Es sociable, alegre, juguetón, deportivo y despierto.</p>
      <a class="boton" ><app-button button='Comprar' ></app-button></a>
    </div>
  </div>
</div>
